{% load static %}
<!--بسم الله الرحمن الرحیم-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static "style.css" %}" rel="stylesheet">
    <title>{% block title %}{% endblock %} | {{ site_config.title }}</title>
</head>
<body class="site">


<nav class="navbar navbar-default container menu">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">🙄</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav items">
        <li><a href="#">صفحه اصلی</a></li>
        <li><a href="#">درباره من</a></li>
        <li><a href="#">تماس با من</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>
<div class="header">
    <div class="container">
        <div class="logo">

        </div>
        <h1>{{ site_config.title }}</h1>
        <h2>{{ site_config.short_description }}</h2>
    </div>
</div>
<div class="container">
{% block contents %}

{% endblock %}
</div>
<div class="footer">
    <div class="text-center">
        کلیه حقوق محفوظ است :) طراحی : یه برنامه نویس سر به هوا
    </div>
</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "js/jquery.min.js" %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
</body>
</html>