{% extends 'index.html' %}
{% load staticfiles %}
{% block title %}صفحه اصلی{% endblock %}
{% block contents %}
    <div class="col-lg-8 col-lg-offset-2 col-sm-12">
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <strong>با عرض پوزش</strong> هم اکنون سرور ها دچار مشکل شده اند لطفا چند لحظه صبر نمایید
        </div>
        <div class="row">

            {% for post in posts %}
                {% if post.post_type == 'p' %}
                    <div class="photo_post thumbnail">
                        <img src="{% static "images/1.jpg" %}"/>
                        <div class="caption">
                            {% if post.title %}
                                <h3>{{ post.title }}</h3>
                        {% endif %}

                            <p>{{ post.content|safe }}</p>

                        </div>
                    </div>
                {% elif post.post_type == 'b' %}
                    <div class="post thumbnail">
                        <div class="blog_img" style="background: url('{% static "images/1.jpg" %}');height: 300px"><h3>{{ post.title }}</h3></div>
                        <div class="caption">

                            <p>{{ post.content|truncatewords_html:150|safe }}</p>
                            <a href="{{ post.slug }}/post" class="btn btn-primary" role="button">متن کامل</a>
                        </div>
                    </div>
                {% else %}
                    <div class="twitt panel panel-default">
                        {% if post.title %}
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ post.title }}</h3>
                            </div>
                        {% endif %}
                        <div class="panel-body">
                            {{ post.content|safe }}
                        </div>
                    </div>
                {% endif %}
            {% empty %}
                <div class="alert alert-danger alert-dismissible" role="alert" style="margin: 0 15px;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <strong>با عرض پوزش </strong>هم اکنون هیچ پستی منتشر نشده است
                </div>
            {% endfor %}

            <div class="text-center">

                <nav aria-label="Page navigation pagination">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">۱</a></li>
                        <li><a href="#">۲</a></li>
                        <li><a href="#">۳</a></li>
                        <li><a href="#">۴</a></li>
                        <li><a href="#">۵</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}